.dialog-title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #3f3f3f;
}

.dialog-content {
  text-align: center;
  font-size: 1.1rem;
  padding: 20px;
  color: #444;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  gap: 20px; /* Added more space between buttons */
  padding: 15px;
}

.dialog-button {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s ease;
}

  .dialog-button:hover {
    transform: scale(1.05);
  }

mat-dialog-content p {
  color: #555;
  margin-bottom: 20px;
}

button.mat-flat-button {
  min-width: 120px;
}
