<mat-table [dataSource]="students" class="mat-elevation-z8">
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{ student.firstName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{ student.lastName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="course">
    <mat-header-cell *matHeaderCellDef> Course </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{ student.course }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="year">
    <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{ student.year }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let student">
      <button mat-button (click)="viewDetails(student.studentId)">View</button>
      <button mat-button (click)="editStudent(student.studentId)">Edit</button>
      <button mat-button (click)="deleteStudent(student.studentId)">Delete</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
